<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>408687945864-cbc692iv1jb2ks4r226lh0khrji7spq6.apps.googleusercontent.com</string>
	<key>FacebookAppID</key>
	<string>667897515192475</string>
	<key>FacebookClientToken</key>
	<string>942be2c52fe2f8102fcccfe9c6a4e6b5</string>
	<key>FacebookDisplayName</key>
	<string>UserLogIn</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.408687945864-cbc692iv1jb2ks4r226lh0khrji7spq6</string>
				<string>fb667897515192475</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
